# Server
CLIENT_URL=
SERVER_URL=
PORT=
NODE_ENV=

# Database
PGDATABASE=
PGHOST="<hostname>.oregon-postgres.render.com"
PGPASSWORD=
PGPORT=
PGUSER=

# Session
SESSION_SECRET=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
